.product__submit__item
  .shopify-payment-button
  .shopify-payment-button__button--unbranded {
  background-color: #ffffff;
  border-radius: 50px;
  --btn-text-hover: #ffffff;
  --btn-text: #004414;
  border: 2px solid #004414;
}

.btn--primary.btn--outline {
  background-color: #004414;
  border-radius: 50px;
  color: #ffffff;
  border: 2px solid #004414;
}
.radio__fieldset .radio__button input:checked ~ label {
  border-color: #ebb240;
}

.select-popout__toggle {
  background-color: #ffffff;
  border-radius: 50px;
  color: #004414;
  border: 2px solid #004414;
}
