/** @format */

#wlATCText {
    margin-right: 16px;
    color: white;
    font-size: 14px;
    text-wrap: auto;
}

@media (max-width: 1400px) {
  .xyz-rock {
      display: none !important;
  }
}

.ui-admin-bar__expand-button {
  display: none !important;
}

.rockApp_PCPreview_BOX {
  position: fixed;
  z-index: 999999999;
  left: 0;
  margin: 0 auto;
  width: 100%;
}
.rockApp_PCPreview {
  display: flex;
  visibility: visible;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  flex-flow: row nowrap;
  padding: 11px 13px;
  line-height: 0px;
}

@media (min-width: 560px) and (max-width: 768px) {
  .rockApp_available {
    display: initial !important;
  }
  .rockApp_PC_Preview_Variants_Block {
    float: right !important;
    margin-right: -4px !important;
  }
  .rockApp_PC_Preview_Quantity {
    display: flex !important;
  }
  .rockApp_PC_Preview_Quantity_Cut,
  .rockApp_PC_Preview_Quantity input,
  .rockApp_PC_Preview_Quantity .rockApp_PC_Preview_Quantity_Add {
    min-width: 25.4px !important;
  }
  .rockApp_PCPreviewbutton {
    margin-top: 5px !important;
    width: 100% !important;
  }
}

@media (max-width: 560px) {
  .rockApp_available {
    display: initial !important;
    width: auto !important;
  }
  .rockApp_PC_Preview_Variants_Block {
    float: right !important;
    margin-right: -4px !important;
    width: 50% !important;
  }
  .rockApp_PC_Preview_Quantity {
    display: flex !important;
    width: 50% !important;
  }
  .rockApp_PC_Preview_Quantity,
  .rockApp_PCPreviewbutton,
  .rockApp_PC_Preview_Variants_Select,
  .rockApp_PC_Preview_Quantity_Cut,
  .rockApp_PC_Preview_Quantity_Space,
  .rockApp_PC_Preview_Quantity_Add {
    height: 30px !important;
  }
  .rockApp_PC_Preview_Quantity_Cut,
  .rockApp_PC_Preview_Quantity input,
  .rockApp_PC_Preview_Quantity .rockApp_PC_Preview_Quantity_Add {
    min-width: 25.4px !important;
  }
  .rockApp_PC_Preview_Variants {
    min-width: auto !important;
  }
  .rockApp_PCPreviewbutton {
    margin-top: 5px !important;
    width: 100% !important;
    font-size: 15px !important;
  }
}

.rockApp_PC_Preview_Left_Block {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  flex: 1 1 auto;
  overflow: hidden;
}

.rockApp_PC_Preview_ImageAndPrice_Block {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 0px;
  width: auto;
  flex: 1 1 auto;
  overflow: hidden;
}

.rockApp_PCPreviewimg {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  background-size: cover;
  min-width: 50px;
  border-radius: 4px;
  outline: #fff solid 1px;
  margin: 1px 16px 1px 1px;
  overflow: hidden;
  background-position: center center;
}

.rockApp_PCPreviewPriceBlock {
  display: flex;
  flex-direction: column;
  width: calc(100% - 89.6px);
}

.rockApp_PCPreviewtitle {
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rockApp_PCPreviewPriceAndComparePrice {
  display: flex;
  flex-direction: row;
}

.rockApp_PCPreviewCompareAtPrice {
  opacity: 0.7;
  margin-right: 16px;
  text-decoration: line-through;
  display: flex;
  flex-direction: row;
}

.rockApp_PC_Preview_Variants_Block {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  margin-right: 6.4px;
  margin-left: 0px;
  width: auto;
}

.rockApp_PC_Preview_Variants {
  color: #263644;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  max-width: 100%;
  min-width: 144px;
  flex: 1 1 auto;
}

.rockApp_PCPreviewbutton {
  display: flex;
  height: 40px;
  -webkit-box-align: center;
  align-items: center;
  font-size: 15.2px;
  #line-height: 25.6px;
  cursor: pointer;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 240px;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  margin: auto;
  /* background: linear-gradient(90deg, rgb(173, 113, 197) 0%, rgb(182, 0, 255) 100%); */
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  overflow: hidden;
  padding: 0 16px;
  background-color: #004414 !important;
  color: #ffffff !important;
}

.rockApp_PC_Preview_Quantity {
  color: #263644;
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  height: 40px;
  -webkit-box-align: center;
  align-items: center;
  background: #fff;
  border-radius: 4px;
}

.rockApp_PC_Preview_Quantity_Cut {
  min-width: 42.4px;
  text-align: center;
  cursor: pointer;
  color: #263644;
  user-select: none;
}

.rockApp_PC_Preview_Quantity_Space {
  filter: saturate(10%);
  height: 40px;
  width: 1px;
  background: #ccc;
}

.rockApp_PC_Preview_Quantity_Add {
  min-width: 42.4px;
  text-align: center;
  cursor: pointer;
  color: #263644;
  user-select: none;
}

.PCPreviewPriceBlock {
  display: flex;
  flex-direction: column;
  width: calc(100% - 89.6px);
}

.PCPreviewtitle {
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.PCPreviewPriceAndComparePrice {
  display: flex;
  flex-direction: row;
}

.PCPreviewCompareAtPrice {
  opacity: 0.7;
  margin-right: 16px;
  text-decoration: line-through;
  display: flex;
  flex-wrap: nowrap;
}

.rockApp_phone_Preview_Variants_Block {
  margin-bottom: 4px;
  display: flex;
  flex-direction: nowrap;
  flex-wrap: wrap;
  margin-right: -9.6px;
  margin-left: -9.6px;
  width: calc(100% + 17.6px);
}

.rockApp_phone_Preview_Variants {
  color: #263644;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 auto;
  margin-bottom: 0;
}
.rockApp_phone_Preview_Variants_Select_Block {
  color: #263644;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 112px;
  flex: 1 1 auto;
  padding: 0 0 0 2px;
}

.rockApp_phone_Preview_Variants_Select {
  color: #263644;
  height: 40px;
  -webkit-appearance: none;
  width: 100%;
  margin: 4px 0;
  text-overflow: ellipsis;
  background: #fff !important;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px 36.8px 0px 19.2px;
}

.rockApp_phone_Preview_Variants_Select_Lable {
  position: absolute;
  right: 16px;
  top: 11.2px;
  pointer-events: none;
}

.PCPreviewbutton {
  display: flex;
  height: 40px;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  font-size: 19.2px;
  cursor: pointer;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 100%;
  min-width: 144px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  margin: auto;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  overflow: hidden;
}

.rockApp_PC_Preview_Variants_Select_Block {
  color: #263644;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 auto;
  margin-left: 5px;
  margin-right: 5px;
}

.rockApp_PC_Preview_Variants_Select {
  color: #263644;
  /* font-family: Overpass, sans-serif; */
  height: 40px;
  -webkit-appearance: none;
  width: 100%;
  text-overflow: ellipsis;
  background: #fff !important;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px 42.4px 0px 19.2px;
  margin: 0;
}

.rockApp_PC_Preview_Variants_Select_Lable {
  position: absolute;
  right: 16px;
  top: 9.6px;
  pointer-events: none;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
